<div id="<%= dom_id game %>">
  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= game.result %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= game.choice %>
  </p>

  <p>
    <strong>Keeper choice:</strong>
    <%= game.keeper_choice %>
  </p>

</div>
