<h1 style="text-align:center;">PKに挑戦！</h1>

<p style="text-align:center;">どこに蹴る？</p>
<div class="pk-field">
  <%= image_tag "pk_goal_2.jpg", class: "goal" %>
  <%= image_tag "keeper_normal.PNG", class: "keeper" %>


<div class="shoot-zone left">
    <%= button_to "左", shoot_games_path(choice: "left"), method: :post, class: "shoot-btn-circle", form: { data: { turbo: true } } %>
  </div>
  <div class="shoot-zone center">
    <%= button_to "中", shoot_games_path(choice: "center"), method: :post, class: "shoot-btn-circle", form: { data: { turbo: true } } %>
  </div>
  <div class="shoot-zone right">
    <%= button_to "右", shoot_games_path(choice: "right"), method: :post, class: "shoot-btn-circle", form: { data: { turbo: true } } %>
  </div>
</div>

<div style="text-align:center;margin-top:8px;">
  <%= link_to "履歴を見る", games_path %>
</div>
